<div class="col-12 row justify-content-center ml-auto mr-auto">
  <% @grams.each do |gram| %>
  <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 ml-auto mr-auto">
    <div class="handle"><%= gram.user.email %></div>
    <%= image_tag gram.image, class: 'img-fluid' %>
    <p>
      <%= gram.message %>
    </p>
  </div>
  <% end %>
</div>
